
<div class="subHeader">
  <div class="wrapper1">
    <p class="secHeadTitle">About Us</p>
  </div>
  <!-- end wrapper1 --> 
</div>
<!-- end subHeader -->

<div class="contentContainer">
  <div class="wrapper1">
    <div class="contentArea">
      <div class="content">
        <div class="wrapper743">
          <h1 class="aboutUsHead">Company</h1>
          <p class="aboutUsDesc"> Zillionears was formed in the Spring of 2010 by a few college students in Santa Barbara. The concept in the beginning was simple and straightforward: Assist great artists in acquiring the listeners they deserve, as well as guiding music loving fans towards great new artists. This built a strong foundation with nothing but possibilities and potential to grow and innovate on. Our first year was spent getting to know the needs and wants of both the musicians and fans to better understand and envision the final product. To do this we created a platform online to feature and share unsigned artists and their work. Our second year was spent developing and fine-tuning what is now known as the “Social Sale.”  Our mission is to give artists a direct-to-fan platform to release content in a new creative way.  We strive to create a tool for artists to engage their current fans and drive interest from new fans. </p>
          <h1 class="aboutUsHead chizz4">Our Team</h1>
          <p class="twoTsL">Two truths and a lie<br />
            <span>Pick out the lie</span></p>
          <!---->
          <div class="fakeClearer"></div>
          <div class="twoTsShell"> <img class="twoTsImg" src="images/faceJordan.jpg" />
            <p class="aboutTitles">Jordan Nemrow<br />
              Engineer & Biz Dev</p>
            <!---->
            <div class="aboutLine"></div>
            <table class="aboutGameShell" gamevalid="0">
              <tr>
                <td><input type="radio" name="game1" /></td>
                <td>Jordan used to coach acrobtics at a circus camp.</td>
              </tr>
              <tr>
                <td><input type="radio" name="game1" class="gameWin1" /></td>
                <td class="gameWinText1">Jordan was an extra in “The Social Network”</td>
              </tr>
              <tr>
                <td><input type="radio" name="game1" /></td>
                <td>Jordan was a 2012 national mustache champion</td>
              </tr>
              <tr>
                <td></td>
                <td><p class="gameSubmitBrn gameSubmitBrn1" gamecounter="1">Submit Answer</p>
                  <p class="winOrLose winOrLose1"></p></td>
              </tr>
            </table>
            <!-- end aboutGameShell --> 
          </div>
          <!-- end twoTsShell -->
          
          <div class="twoTsShell"> <img class="twoTsImg" src="images/faceDan.jpg" />
            <p class="aboutTitles">Dan Polaske<br />
              Designer & Biz Dev</p>
            <!---->
            <div class="aboutLine"></div>
            <table class="aboutGameShell" gamevalid="0">
              <tr>
                <td><input type="radio" name="game2" /></td>
                <td>Dan can touch his nose with his tongue</td>
              </tr>
              <tr>
                <td><input type="radio" name="game2" /></td>
                <td>Dan bartended in Europe</td>
              </tr>
              <tr>
                <td><input type="radio" name="game2" class="gameWin2" /></td>
                <td class="gameWinText2">Dan has swam in the Belagio fountains</td>
              </tr>
              <tr>
                <td></td>
                <td><p class="gameSubmitBrn gameSubmitBrn2" gamecounter="2">Submit Answer</p>
                  <p class="winOrLose winOrLose2"></p></td>
              </tr>
            </table>
            <!-- end aboutGameShell --> 
          </div>
          <!-- end twoTsShell -->
          
          <div class="twoTsShell"> <img class="twoTsImg" src="images/faceJames.jpg" />
            <p class="aboutTitles">James McGuire<br />
              Engineer</p>
            <!---->
            <div class="aboutLine"></div>
            <table class="aboutGameShell" gamevalid="0">
              <tr>
                <td><input type="radio" name="game3" /></td>
                <td>James built a dirtbike from scratch</td>
              </tr>
              <tr>
                <td><input type="radio" name="game3" /></td>
                <td>James gets nauseous from anything sticky</td>
              </tr>
              <tr>
                <td><input type="radio" name="game3" class="gameWin3" /></td>
                <td class="gameWinText3">James was born in an airplane</td>
              </tr>
              <tr>
                <td></td>
                <td><p class="gameSubmitBrn gameSubmitBrn3" gamecounter="3">Submit Answer</p>
                  <p class="winOrLose winOrLose3"></p></td>
              </tr>
            </table>
            <!-- end aboutGameShell --> 
          </div>
          <!-- end twoTsShell -->
          
          <div class="twoTsShell"> <img class="twoTsImg" src="images/faceTim.jpg" />
            <p class="aboutTitles">Tim Boris<br />
              General Counsel</p>
            <!---->
            <div class="aboutLine"></div>
            <table class="aboutGameShell" gamevalid="0">
              <tr>
                <td><input type="radio" name="game4" /></td>
                <td>Tim is a professor of music business</td>
              </tr>
              <tr>
                <td><input type="radio" name="game4" class="gameWin4" /></td>
                <td class="gameWinText4">Tim thinks Jordan is the best designer ever</td>
              </tr>
              <tr>
                <td><input type="radio" name="game4" /></td>
                <td>Tim loves to drink a good beer during Zillionears meetings</td>
              </tr>
              <tr>
                <td></td>
                <td><p class="gameSubmitBrn gameSubmitBrn4" gamecounter="4">Submit Answer</p>
                  <p class="winOrLose winOrLose4"></p></td>
              </tr>
            </table>
            <!-- end aboutGameShell --> 
          </div>
          <!-- end twoTsShell -->
          
          <div class="twoTsShell"> <img class="twoTsImg" src="images/faceJustin.jpg" />
            <p class="aboutTitles">Justin Mylander<br />
              Community Building</p>
            <!---->
            <div class="aboutLine"></div>
            <table class="aboutGameShell" gamevalid="0">
              <tr>
                <td><input type="radio" name="game5" /></td>
                <td>Justin is a 2 time hole-in-one champ</td>
              </tr>
              <tr>
                <td><input type="radio" name="game5" class="gameWin5" /></td>
                <td class="gameWinText5">Justin is an original beta tester for Myspace</td>
              </tr>
              <tr>
                <td><input type="radio" name="game5" /></td>
                <td>Justin is permenently banned from Planet Holywood</td>
              </tr>
              <tr>
                <td></td>
                <td><p class="gameSubmitBrn gameSubmitBrn5" gamecounter="5">Submit Answer</p>
                  <p class="winOrLose winOrLose5"></p></td>
              </tr>
            </table>
            <!-- end aboutGameShell --> 
          </div>
          <!-- end twoTsShell --> 
          
        </div>
        <!-- end wrapper743 --> 
      </div>
      <!-- end content --> 
    </div>
    <!-- end contentArea --> 
  </div>
  <!-- end wrapper1 --> 
</div>
<!-- end contentContainer --> 
