<div class="contentContainer">
  <div class="wrapper1">
    <div class="contentArea">
      <div class="content">
        <p class="zillsAdminHeaders">Billing</p>
        <table class="zillsAdminSingleSoSaTable1">
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total Payments</td>
            <td class="zillsAdminSingleSoSaTableLeft">Total Outstanding Payments</td>
            <td class="zillsAdminSingleSoSaTableLeft">Total Completed Payments</td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableRight">987</td>
            <td class="zillsAdminSingleSoSaTableRight">334</td>
            <td class="zillsAdminSingleSoSaTableRight">6533</td>
          </tr>
        </table>
        <table class="zillsAdminSingleSoSaTable4">
          <tr class="zillsAdminTableRowCentered">
            <td class="zillsAdminSingleSoSaTableLeft zillsAdminTableNavSelected"><a href="javascript:">Outstanding</a></td>
            <td class="zillsAdminSingleSoSaTableLeft"><a href="javascript:">Completed</a></td>
            <td class="zillsAdminSingleSoSaTableLeft"><a href="javascript:">All</a></td>
          </tr>
        </table>
        <table class="zillsAdminSingleSoSaTable4">
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">SoSa ID</td>
            <td class="zillsAdminSingleSoSaTableLeft">Account ID</td>
            <td class="zillsAdminSingleSoSaTableLeft">First Name</td>
            <td class="zillsAdminSingleSoSaTableLeft">Last Name</td>
            <td class="zillsAdminSingleSoSaTableLeft">Paypal Email</td>
            <td class="zillsAdminSingleSoSaTableLeft">Address</td>
            <td class="zillsAdminSingleSoSaTableLeft">Payment Type</td>
            <td class="zillsAdminSingleSoSaTableLeft">Total Owed</td>
            <td class="zillsAdminSingleSoSaTableLeft">Status</td>
            <td class="zillsAdminSingleSoSaTableLeft">Confirm</td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableRight"><a href="adminSingleSocialSale">223019</a></td>
            <td class="zillsAdminSingleSoSaTableRight"><a href="adminSingleAccount">11945</a></td>
            <td class="zillsAdminSingleSoSaTableRight">Jordan</td>
            <td class="zillsAdminSingleSoSaTableRight">Nemrow</td>
            <td class="zillsAdminSingleSoSaTableRight">NA</td>
            <td class="zillsAdminSingleSoSaTableRight zillsAdminTableSmallText">22 Weatherby ct.<br />
              Petaluma CA, 94954</td>
            <td class="zillsAdminSingleSoSaTableRight">Check</td>
            <td class="zillsAdminSingleSoSaTableRight">$230.45</td>
            <td class="zillsAdminSingleSoSaTableRight"><input type="radio" name="outOrComp" checked="checked" id="zillsAdminOutRadio" />
              <label for="zillsAdminOutRadio">O</label>
              <br />
              <input type="radio" name="outOrComp" id="zillsAdminCompRadio" />
              <label for="zillsAdminCompRadio">C</label>
              <br />
              <label class="ajaxResponsePaymentSwitchLabel"><!-- "Saved" or "Not" --></label></td>
            <td class="zillsAdminSingleSoSaTableRight"><input type="text" class="zillsAdminPaymentConfirmTextIn" />
              <br />
              <label class="ajaxResponsePaymentConfirmLabel"><!-- "Saved" or "Not" --></label></td>
          </tr>
        </table>
      </div>
      <!-- end content --> 
    </div>
    <!-- end contentArea --> 
  </div>
  <!-- end wrapper1 --> 
</div>
<!-- end contentContainer -->