<div class="contentContainer">
  <div class="wrapper1">
    <div class="contentArea">
      <div class="content">
        <p class="zillsAdminHeaders">Total #'s</p>
        <table class="zillsAdminSingleSoSaTable1">
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total # SoSa:</td>
            <td class="zillsAdminSingleSoSaTableRight"><?php echo $this->totalSales ?></td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total # Fans:</td>
            <td class="zillsAdminSingleSoSaTableRight"><?php echo $this->totalFans ?></td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total # Bands:</td>
            <td class="zillsAdminSingleSoSaTableRight"><?php echo $this->totalBands ?></td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total Active SoSa:</td>
            <td class="zillsAdminSingleSoSaTableRight"><?php echo $this->totalActiveSales ?></td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total Expired SoSa:</td>
            <td class="zillsAdminSingleSoSaTableRight"><?php echo $this->totalExpiredSales ?></td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total Transactions:</td>
            <td class="zillsAdminSingleSoSaTableRight"><?php echo $this->totalTransactions ?></td>
          </tr>
        </table>
        <img class="zillsAdminAcctPic2" src="images/thumbSaba.jpg" />
        <div class="fakeClearer"></div>
        <p class="zillsAdminSubHeader">Total $</p>
        <table class="zillsAdminSingleSoSaTable4">
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">Total Gross Revenue</td>
            <td class="zillsAdminSingleSoSaTableLeft">Total Amzn Fee's</td>
            <td class="zillsAdminSingleSoSaTableLeft">Total Band Cuts</td>
            <td class="zillsAdminSingleSoSaTableLeft">Total Zills Cut</td>
          </tr>
          <tr>
            <td class="zillsAdminSingleSoSaTableRight">$<?php echo $this->totalGrossRevenue ?></td>
            <td class="zillsAdminSingleSoSaTableRight">$<?php echo $this->totalAmazonFees ?></td>
            <td class="zillsAdminSingleSoSaTableRight">$<?php echo $this->totalBandCuts ?></td>
            <td class="zillsAdminSingleSoSaTableRight">$<?php echo $this->totalZillsCuts ?></td>
          </tr>
        </table>
        <div class="fakeClearer"></div>
      </div>
      <!-- end content --> 
    </div>
    <!-- end contentArea --> 
  </div>
  <!-- end wrapper1 --> 
</div>
<!-- end contentContainer -->