
<div class="subHeader">
  <div class="wrapper1">
    <p class="secHeadTitle">In-House Beta Testing</p>
  </div>
  <!-- end wrapper1 --> 
</div>
<!-- end subHeader -->

<div class="contentContainer">
  <div class="wrapper1">
    <div class="contentArea">
      <div class="content">
        <div class="wrapper743">
          <h1 class="aboutUsHead">You are the chosen one!</h1>
          <p class="aboutUsDesc">Thanks for helping us test out the beta for Zillionears. We have built a platform for artists to sell their music in a creative and innovative fashion. Artists can create what we call a “Social Sale” that runs for a specific period of time. During that time, the more fans that participate in the sale, the less the price becomes for everyone. We authorize payments when fans join the sale, and only capture them (transact the funds) at the end of the sale ensuring everyone gets the music for the same price.<br/><br/>
This is not the website you are currently on, but more of a cover-page for the beta testing. The homepage will be directed towards artists with the goal of them creating a Social Sale. The artist will then promote his/her Social Sale through their channels (facebook, twitter, etc.). Go ahead and create your own social sale, or scroll down to join some sales that have already been created by other testers! Just click on the “SoSa ID” on the sale you want to check out. This is all fake, so no music will actually be delivered. At the amazon checkout, use your own account, and for the credit card info, just put in fake numbers. Once you have created an account you can sign back in and check on the sale you are participating in, as well as the sales you have created. You can buy and sell from the same account. Booyah!</p>
<div class="betaHomeCreateBtn"><a href="createSs" target="_blank">Create Your Own Social Sale!</a></div>
          <p class="zillsAdminHeaders">Social Sales</p>
          <table class="zillsAdminSingleSoSaTable4">
          <tr>
            <td class="zillsAdminSingleSoSaTableLeft">SoSa ID</td>
            <td class="zillsAdminSingleSoSaTableLeft">SoSa Name</td>
            <td class="zillsAdminSingleSoSaTableLeft">Band Name</td>
            <td class="zillsAdminSingleSoSaTableLeft"># Of Fans</td>
            <td class="zillsAdminSingleSoSaTableLeft">Start $</td>
            <td class="zillsAdminSingleSoSaTableLeft">Lowest $</td>
            <td class="zillsAdminSingleSoSaTableLeft">Current $</td>
            <td class="zillsAdminSingleSoSaTableLeft">Status</td>
          </tr>
          <?php echo $this->salesRows; ?>
        </table>
        </div>
        <!-- end wrapper743 --> 
      </div>
      <!-- end content --> 
    </div>
    <!-- end contentArea --> 
  </div>
  <!-- end wrapper1 --> 
</div>
<!-- end contentContainer --> 
