<body>
<div class="socialSalePageShell">
  
  <div class="sociaSaleFloaterShell">
    <div class="socialSaleShell">
      <div id="socialSalePopout">
        <div class="preAmznCheckoutImgShell"> <img class="preAmznCheckoutImg" src="<?php echo $this->productImg?>" />
          <div id="preAmznCheckoutCountdown"></div>
        </div>
        <!-- end preAmznCheckoutImgShell -->
        <div class="preAmznCheckoutContentShell">
        <?php if($this->boughtSale) { echo '<img class="alreadyInSaleAdam" src="images/alreadyInSale.jpg" />'; }  ?>
        	<table class="checkoutContentTable">
            	<tr>
                	<td colspan="3"><p class="checkoutTitle">Keep Control<br /><span>The Goodnight</span></p></td>
                </tr>
                <tr>
                	<td><p class="checkoutMainNums">Current Price<br /><span class="checkoutMainNumsGreen">$<?php echo $this->currentPrice;?></span></p></td>
                    <td>
                    <div class="checkoutTableMiddleText">
                    	<p class="checkoutTableMiddleText1">Share with Friends &amp;</p>
                        <p class="checkoutTableMiddleText2">Save</p>
                        <img class="checkoutTableMiddleText3" src="images/pointingTriangle.png" />
                        
                    </div>
                    </td>
                    <td><p class="checkoutMainNums">Can Get To<br /><span class="checkoutMainNumsRed">$<?php echo $this->lowPrice;?></span></p></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
			<div class="checkoutCrowdChart">
            <img class="checkoutCrownGreenBar" id="checkoutCrownGreenBar" src="images/userAdminFanCrowdFllGreenBar.png">
            <div class="checkoutCrowdDropBar"></div>
            <p class="checkoutCrowdParticipantNum"></p>
            <p class="checkoutCrowdParticipantPercentNum"></p>
            <img class="checkoutCrowdImg" src="images/checkoutCrowdImg.png" />
            </div> <!-- end checkoutCrowdChart -->
            
          <div class="preAmznCheckoutFAQ1">
            <p><span class="inSaleFAQOpen inSaleFAQ1">How much am I actually paying?</span><br />
              <span class="inSaleFAQOpen inSaleFAQ2">When do I get charged?</span><br />
              <span class="inSaleFAQOpen inSaleFAQ3">When do I receive my product?</span></p>
          </div>
          <!-- end preAmznCheckoutFAQ1-->
          <p class="preAmznCheckoutFAQ2"></p>
        </div>
        <!-- end preAmznCheckoutContentShell -->
        <div class="preAmznCheckoutBottomShell"> <img class="preAmznCheckoutZillsLogoSmall" src="images/zillionearsLogoSmall1.png" /> <img class="preAmznCheckoutAmazonPaymentLogo" src="images/amazonPaymentLogoSmall.jpg" />
          <p class="preAmznCheckoutTermsAndCond">I have read and agree to the <a href="#fanTermsAndCond" id="openFanTermsAndCond"><span>Zillionears Terms and Conditions</span></a></p>
          <input class="preAmznCheckoutTermsAndCondCheck" type="checkbox" />
          <?php if($this->saleExpired) { ?>
            <p class="preAmznCheckoutGoToAmznBtn">Expired</p>
          <?php } else { ?>
            <a id="preAmzCheckoutGoToAmzn" href="<?php echo $this->amazonLink; ?>">
            <p class="preAmznCheckoutGoToAmznBtn">Checkout with Amazon</p>
            </a>
          <?php } ?>
        </div>
        <!-- end preAmznCheckoutBottomShell --> 
       
      </div>
      <!-- end socialSalePopout -->
      <div class="ssTransBack"></div>
    </div>
    <!-- end socialSaleShell --> 
  </div>
  <!-- end sociaSaleFloaterShell --> 
  <script>
$(document).ready(function(){
$('#preAmznCheckoutCountdown').countdown({until:$.countdown.UTCDate(<?php echo $this->saleEndFormated ?>), format: 'DHMS', layout: //(timeZone, year, month-1{ignore the 1}, date)
  '<div id="timer">' +
  '<div id="timer_days" class="timer_numbers">{dnn}</div>'+
  '<div id="timer_hours" class="timer_numbers">{hnn}</div>'+
  '<div id="timer_mins" class="timer_numbers">{mnn}</div>'+
  '<div id="timer_seconds" class="timer_numbers">{snn}</div>'+
	'<div id="timer_labels">'+
	'<div id="timer_days_label" class="timer_labels">days</div>'+
	'<div id="timer_hours_label" class="timer_labels">hours</div>'+
	'<div id="timer_mins_label" class="timer_labels">mins</div>'+
	'<div id="timer_seconds_label" class="timer_labels">secs</div>'+
	'</div>'+
	'</div>'
});// end countdown
$('#openFanTermsAndCond').fancybox();
function fanAdminStatsBuilder2(){
		var fanAdminStartP = <?php echo $this->startPrice?>;
		var fanAdminEndP = <?php echo $this->lowPrice; ?>;
		var fanAdminCurrentP = <?php echo $this->currentPrice;?>;
		var fanAdminBarLength = fanAdminStartP-fanAdminEndP;
		var fanAdminDroppedAmount = fanAdminStartP-fanAdminCurrentP;
		var preFanAdminDroppedPerc = (fanAdminDroppedAmount/fanAdminBarLength)*100;
		fanAdminDroppedPerc = 100-preFanAdminDroppedPerc;
		fanAdminDroppedPercSwitch= 100-fanAdminDroppedPerc;
		var barShiftAmount = (-105) + fanAdminDroppedPercSwitch;
		$('#checkoutCrownGreenBar').css('left',barShiftAmount+'%');
		$('.checkoutCrowdParticipantNum').html('<span>'+<?php echo $this->numBuyins?>+ '</span> Participants');
		$('.checkoutCrowdParticipantPercentNum').html('<span>'+parseInt(preFanAdminDroppedPerc)+'%</span> Potential Savings');
	};
	fanAdminStatsBuilder2();
	$('.checkoutCrownFullBar, .checkoutCrowdDropBar').fadeIn(2000);
	$('.logoOnSSPage').load(function(){
		var ogPicWidth = <?php echo $this->logoImgWidth; ?>;
		var ogPicHeight = <?php echo $this->logoImgHeight; ?>;
		var ogPicRatio = ogPicWidth / ogPicHeight;
		logoTransW = (ogPicRatio*100)+8;
		$('.logoTransBack').width(logoTransW);//logoTransW);
		$('.logoTransBack').delay(100).fadeIn(300);
	});
	$('.inSaleFAQ1').click(function(){
	$('.preAmznCheckoutFAQ2').html('<span>How much am I actually paying?</span><br />Every new participant lowers your final price so you will be charged between $<?php echo $this->maxCharge; ?> and $<?php echo $this->lowPrice; ?> depending on the total participation level.');
});
$('.inSaleFAQ2').click(function(){
	$('.preAmznCheckoutFAQ2').html('<span>When do I get charged?</span><br />You will not be charged until <?php echo $this->saleEndVisual?>. We will authorize your credit card upon checkout, but not transact funds until sale is over.');
});
$('.inSaleFAQ3').click(function(){
	$('.preAmznCheckoutFAQ2').html('<span>When do I receive my music?</span><br />Digital downloads will be available immediatly after sale has finished and the transaction of your pre-authorized billing completed.');
});
	<?php if($this->boughtSale){ echo '$(".checkoutContentTable, .checkoutCrowdChart").hide(); $(".preAmznCheckoutGoToAmznBtn").css("opacity","0.2"); $(".preAmznCheckoutTermsAndCond").hide();$(".preAmznCheckoutTermsAndCondCheck").attr("checked","checked").hide();$(".preAmznCheckoutGoToAmznBtn").css("cursor","default");$(".preAmznCheckoutGoToAmznBtn").click(function(){event.preventDefault();alert("You can only buy into each sale once. Booyah.");});'; } ?>
$.backstretch("<?php echo $this->backgroundImg; ?>", {speed: 150, centeredY: false});
});
</script> 
</div>
<!-- end socialSalePageShell --> 
