<div class="socialSalePageShell">

<div class="logoOnSSPageShell2">
<div class="logoTransBack"></div>
</div> <!-- end logoOnSSPageShell2 -->

<div class="logoOnSSPageShell">
<img class="logoOnSSPage" src="<?php echo $this->logoImg?>" />
</div> <!-- end logoOnSSPageShell -->

<div class="socialSaleShell">
<div id="socialSalePopout">
    <div class="ssMid">


    </div>
</div> <!-- end socialSalePopout -->
<div class="ssTransBack"></div>

</div> <!-- end socialSaleShell -->
<script>
$(document).ready(function(){
$.backstretch("<?php echo $this->backgroundImg; ?>", {speed: 150, centeredY: false});
});
</script>
</div> <!-- end socialSalePageShell -->
