
<div class="subHeader">
  <div class="wrapper1">
    <p class="secHeadTitle"><?php echo $this->getError(); ?></p>
  </div>
  <!-- end wrapper1 -->
</div>
<!-- end subHeader -->

<div class="contentContainer">
  <div class="wrapper1">
    <div class="contentArea">
      <div class="content">
        <div class="wrapper743">
          <h1 class="aboutUsHead"><?php echo $this->getError(); ?></h1>
          <p class="aboutUsDesc"> We're sorry about that.  Our technical staff has been notified and will try to handle this error as soon as possible.  Thanks and try again later!</p>
        </div>
        <!-- end wrapper743 -->
      </div>
      <!-- end content -->
    </div>
    <!-- end contentArea -->
  </div>
  <!-- end wrapper1 -->
</div>
<!-- end contentContainer -->
