<div class="part1">
<div class="wrapper">
<img class="homeLogo" src="images/logoHome.png" />
<h1 class="slog1">Drive fan engagement.<br />Build your fan base!</h1>
<h1 class="slog2">A  social direct-to-fan platform<br />to release music and merch.</h1>
<div class="howItWorksBtn"><p>How it works</p><img src="images/itWorksArrow.png" /></div>
<div class="homeDemoShell">
<div class="homeDemo">
<img class="hDScreenShot" src="images/splashStatic.jpg" />
</div> <!-- end homeDemo --->
</div> <!-- end homeDemoShell -->

<!------------------------   place featureSaleShell html in here on launch --------------------->


<div class="part2">
<div class="wrapper">
<div class="highlightShell">
<div class="highBox">
<p>Jump-start your <span>music & merch releases</span> with social sales</p>
</div> <!-- end highBox -->
<div class="highBox">
<p><span>Engage</span> current fans while driving interest from new ones</p>
</div> <!-- end highBox -->
<div class="highBox">
<p>Collect <span>valuable fan data</span> you lose releasing on other platforms</p>
</div> <!-- end highBox -->
</div> <!-- end highlightShell -->

<div class="worksShell">
<p class="worksTitle">How it works</p>
<p class="worksInstMain">Release content through social sales and let the level of fan engagement determine the final price of the product</p>
<div class="workBoxesShell">
<div class="worksBoxes">
<img src="images/frontImg1.jpg" />
<p>Easily create a custom social sale for the release of your music or merch</p>
</div> <!-- end worksBoxes -->
<div class="worksBoxes">
<img src="images/viralWeb.jpg" />
<p>The price drops for everyone as each new fan joins in, ecouraging social sharing.</p>
</div> <!-- end worksBoxes -->
<div class="worksBoxes">
<img src="images/frontImg3.jpg" />
<p>Once the sale has ended, the final price is determined and all transactions are made.</p>
</div> <!-- end worksBoxes -->
</div> <!-- end worksShell -->
</div> <!-- end workBoxesShell -->

</div> <!-- end wrapper -->
</div> <!-- end part2 -->
