<div class="part1">
  <div class="wrapperIntro">
    <div class="wrapperIntoBack"> </div>
    <!-- end wrapperIntroBack -->
    <div class="wrapper">
      <?php if($this->currentPage != 'error') { if(parent::loggedIn()) { ?>
      <a href="fanAdminSocialSales">
      <p class="indexIntroLogin"><?php echo parent::userName(); ?></p>
      </a>
      <?php } else { ?>
      <a href="#newLoginBox" id="openLoginBox">
      <p class="indexIntroLogin">Login / Signup</p>
      </a>
      <?php } } ?>
      <img class="homeLogo" src="images/logoHomeNoEar.png" /> <img class="justEarInLogo" src="images/justEar.png" /> <img class="homeBetaSymbol" src="images/betaSymbol.png" /> </a> <!-- end fullPageSalePreview -->
      <div class="homeSlideShell">
        <div class="homeSlideBounceShell">
          <div class="homeSlideStandard"><!-- SLIDE 1 -->
            <h1 class="homeSlideSlog1">We help artists reach new fans and stay connected with Social Sales.</h1>
            <h2 class="homeSlideSlog2">A new cutting-edge way to sell music and merch with dynamic pricing.</h2>
            <h3 class="homeSlideSlog2">
            Harness the power of your social media community.
            </h1>
          </div>
          <!-- end homeSlide1Shell -->
          
          <div class="homeSlideStandard">
            <p class="homeSlideSlog4">Introducing...</p>
            <!-- SLIDE 2 -->
            <h1 class="homeSlideSlog5">
            Social Sales
            </h2>
            <h3 class="homeSlideSlog6">Each participating fan decreases the price for everyone!</h3>
            <h3 class="homeSlideSlog6">The only platform that turns your fans into your promoters!</h3>
            <h3 class="homeSlideSlog6">Where else do you get online groupies?</h3>
          </div>
          <!-- end homeSlide2Shell -->
          
          <div class="homeSlideStandard"><!-- SLIDE 3 -->
            <h1 class="homeSlideSlog5">
            Why Social Sales?
            </h2>
            <h3 class="homeSlideSlog7">Reach more fans.<br />
              <span>SMART</span></h3>
            <h3 class="homeSlideSlog7">Create community buzz.<br />
              <span>EPIC</span></h3>
            <h3 class="homeSlideSlog7">Collect emails and more.<br />
              <span>JACKPOT</span></h3>
          </div>
          <!-- end homeSlide6Shell -->
          
          <div class="homeSlideStandard"><!-- SLIDE 4 -->
            <h2 class="homeSlideSlog9">Socialize Sales today for more fans, higher sales, and future success tomorrow.</h2>
            <h3 class="homeSlideSlog10">Don’t settle for hugs & kisses from other music marketing tools, go all the way with Social Sales!</h3>
          </div>
          <!-- end homeSlide3Shell --> 
          
        </div>
        <!-- end homeSlideBounceShell --> 
      </div>
      <!-- end homeSlideShell -->
      <div class="homeSlideNav">
        <div class="homeSlideNavCircle homeSlideNavCircle1 homeSlideNavCircleHumanClick"></div>
        <div class="homeSlideNavCircle homeSlideNavCircle2 homeSlideNavCircleHumanClick"></div>
        <div class="homeSlideNavCircle homeSlideNavCircle3"></div>
        <div class="homeSlideNavCircle homeSlideNavCircle4"></div>
      </div>
      <!-- end homeSlideNav -->
      <div class="homeDemoShell">
        <div class="homeDemo">
          <iframe width="450" height="253" src="http://www.youtube.com/embed/Ra020bZF-s0?theme=light&color=white&amp;vq=hd720" frameborder="0" allowfullscreen></iframe>
          <!-- ?theme=light&color=white&amp;vq=hd720 is put at the end of the url to give it a white/grey theme and make it DH --> 
        </div>
        <!-- end homeDemo ---> 
      </div>
      <!-- end homeDemoShell --> 
    </div>
    <div class="indexIntroBottomButtonsShell"> <a href="createss">
      <p class="indexIntroCreateSocialSaleBtn">Create Social Sale</p>
      </a>
      <div class="indexIntroRollingBtnsShell">
        <div class="indexIntroRollingBreaker indexIntroRollingBreaker1"></div>
        <div class="indexIntroRollingBreaker indexIntroRollingBreaker2"></div>
        <a href="#iTunesVsSosa" id="openTTunesVsSosa">
        <div class="indexIntroRollingThirdShells"> <img src="images/rollingBtnITunes.png" />
          <p class="indexIntroRollingITunesText">iTunes<br />
            <span>vs</span><br />
            Social Sales</p>
        </div>
        </a><!-- end indexIntroRollingITunesShell --> 
        <a href="https://zillionears.com/sampleSale1Dom.html" target="_blank">
        <div class="indexIntroRollingThirdShells"> <img src="images/rollingBtnSample.png" />
          <p class="indexIntroRollingNormalText">Sale Demo</p>
        </div>
        </a><!-- end indexIntroRollingITunesShell --> 
        <a href="#indexIntroPricingShell" id="openIndexIntroPricingShell">
        <div class="indexIntroRollingThirdShells"> <img src="images/rollingBtnMoney.png" />
          <p class="indexIntroRollingNormalText">Pricing</p>
        </div>
        </a><!-- end indexIntroRollingITunesShell --> 
        <!--<img class="indexIntroPricingMoneySign" src="images/moneySign.png" />
                <p class="indexIntroPricingText">Pricing</p>--> 
      </div>
      <!-- end indexIntroPricingBtn --> 
    </div>
    <!-- end indexIntroBottomButtonsShell --> 
    <!-- end wrapper --> 
  </div>
  <!-- end wrapperIntro --> 
  <!--<div class="indexIntroCoolSalesShell">
  	<div class="indexIntroCoolSalesTopBar">
    	<div class="indexIntroCoolSalesTopBarTransBack"></div>
   		<p class="indexIntroCoolSalesTopBarTitle">Cool Social Sales</p>
     	<img src="images/smallEarFadedEffect.png" class="indexIntroCoolSalesTopBarEar" />
    </div> <!-- end indexIntroCoolSalesTopBar --
    <a href="http://www.zillionears.com/socialsale&id=170">
        <div class="indexIntroCoolSalesSaleShell indexIntroCoolSalesSaleShellFirstTwo">
        	<img class="indexIntroCoolSaleArt" src="uploads/4efbabe1c3_croppedArt2.jpg" />
            <div class="indexIntroCoolSaleHoverShell">
                <div class="indexIntroCoolSaleArtTransCover"></div>
                <h2>Domenic Bianco</h2>
                <h3>Domenic Bianco</h3>
            </div> <!-- end indexIntroCoolSaleHoverShell --
        </div> <!-- end indexIntroCoolSalesSaleShell --
    </a>
    <a href="javascript:" class="javascript:">
        <div class="indexIntroCoolSalesSaleShell indexIntroCoolSalesSaleShellFirstTwo">
        	<img class="indexIntroCoolSaleArt" src="images/KeepControlCoverArtSquare.jpg" />
            <div class="indexIntroCoolSaleHoverShell">
                <div class="indexIntroCoolSaleArtTransCover"></div>
                <h2>Keep Control</h2>
                <h3>The Goodnight</h3>
            </div> <!-- end indexIntroCoolSaleHoverShell --
        </div> <!-- end indexIntroCoolSalesSaleShell --
    </a>
    <a href="javascript:">
        <div class="indexIntroCoolSalesSaleShell">
        	<img class="indexIntroCoolSaleArt" src="images/2498663736-1.jpg" />
            <div class="indexIntroCoolSaleHoverShell">
                <div class="indexIntroCoolSaleArtTransCover"></div>
                <h2>Hooked</h2>
                <h3>Berel Alexander</h3>
            </div> <!-- end indexIntroCoolSaleHoverShell --
        </div> <!-- end indexIntroCoolSalesSaleShell --> 
  </a> </div>
<!-- end indexIntroCoolSalesShell -->
</div>
<!-- end part1 -->
<div class="introFooter">
<div class="wrapper">
  <p class="introFooterLeft">Zillionears LLC 2012</p>
  <div class="introFooterRight">
    <p><a href="about">About</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#contactUs" id="openContactUsIntro">Contact</a> &nbsp;&nbsp; | &nbsp;&nbsp;<a href="#generalTermsAndCond" id="openGeneralTermsAndCond">Terms of Service</a>&nbsp;&nbsp; | &nbsp;&nbsp;</p>
    <a href="https://www.facebook.com/Zillionears" target="_blank">
    <div class="socialMediaFooterIcons footerFacebookIcon"></div>
    </a><a href="https://twitter.com/ZillionEars" target="_blank">
    <div class="socialMediaFooterIcons footerTwitterIcon"></div>
    </a> </div>
  <!-- end wrapper --> 
</div>
<!-- end introFooter -->
<div class="hiddenShell">
  <div id="indexIntroPricingShell" class="indexIntroPricingShell">
    <h1>Pricing</h1>
    <h2>5% Sales + $.25 per transaction<br /><span>&amp;<br />Amazon Fees</span></h2>
    <h3>(Usually 5% of sales + $0.05 per transaction)</h3>
  </div>
  <!-- end indexIntroPricingShell -->
  <div id="iTunesVsSosa">
  	
    <table class="compChartTable">
	<tr class="compChartBorderBottom1">
    	<td class="compChartText1">iTunes<br /><span>vs.</span><br />Social Sales</td>
        <td class="compChartTop1"><img src="images/tuneCore1.png" /><br />iTunes via TuneCore</td>
        <td class="compChartTop1"><img src="images/zillsEar1.png" /><br />Social Sales</td>
    </tr>
    <tr class="compChartBorderBottom1">
    	<td class="compChartText2">Record Price</td>
        <td class="compChart5">$5.00</td>
        <td class="compChart5">$3.00</td>
    </tr>
    <tr class="compChartBorderBottom1">
    	<td class="compChartText2">Units Sold</td>
        <td class="compChart5">100</td>
        <td class="compChart5">125</td>
    </tr>
    <tr class="compChartBorderBottom1">
    	<td class="compChartText2">Total Revenue</td>
        <td class="compChart5">$500</td>
        <td class="compChart5">$375</td>
    </tr>
    <tr class="compChartBorderBottom1">
    	<td class="compChartText3">iTunes Cut</td>
        <td class="compChart6">-$150</td>
        <td class="compChart6">-</td>
    </tr>
    <tr class="compChartBorderBottom1">
    	<td class="compChartText3">Tunecore Fees</td>
        <td class="compChart6">-$49.99</td>
        <td class="compChart6">-</td>
    </tr>
    <tr class="compChartBorderBottom1">
    	<td class="compChartText3">Zillionears Cut</td>
        <td class="compChart6">-</td>
        <td class="compChart6">-$75</td>
    </tr>
    <tr>
    	<td class="compChartText2">Artist's Take</td>
        <td class="compChart5">$300</td>
        <td class="compChart5">$300</td>
    </tr>
    <tr>
    	<td class="compChartText4"><a id="openWhyData" href="#whyData"><div class="compChartWhyDataBtn"><p>Why is data<br />important?</p></div></a></td>
        <td class="compChart7">+ No Fan Data</td>
        <td class="compChart7">+ Fan Names<br />+ Fan Emails<br />+ Fan Zip Codes</td>
    </tr>
</table>
  </div>
  <div id="whyData">
  <div class="whyDataChartShell">
  <div class="whyDataChartHeader">
    <h1>Why is data important?</h1>
    <a href="#iTunesVsSosa" id="openiTunesVsSosa2" class="whyDataBackBtn">
      <p>Back to<br />
        the #'s</p>
     </a>
  </div>
  <!-- end whyDataChartHeader -->
  <div class="whyDataFakeHR"></div>
  <div class="whyDataHeaders whyDataColor1">
    <h2>Fan Names</h2>
  </div>
  <!-- end whyDataNamesShell -->
  <div class="whyDataContent whyDataColor2">
    <p class="whyDataContentP whyDataContentPFloat1">Determine which of your Facebook fans actually support your career monetarily. These are your biggest fans. You need to become a fan of your biggest fans.</p>
    <img class="whyDataContentImg1" src="images/whyDataIcon1.png" /> </div>
  <!-- end whyDataContent -->
  <div class="whyDataFooters whyDataColor1"></div>
  <div class="whyDataFakeHR"></div>
  <div class="whyDataHeaders whyDataColor3">
    <h2>Fan Emails</h2>
  </div>
  <!-- end whyDataNamesShell -->
  <div class="whyDataContent whyDataColor4">
    <p class="whyDataContentP whyDataContentPFloat2">Give exclusive material to your biggest fans. These fans are a huge asset to your music career, make sure you have a direct connection to them.</p>
    <img class="whyDataContentImg2" src="images/whyDataIcon2.png" /> </div>
  <!-- end whyDataContent -->
  <div class="whyDataFooters whyDataColor3"></div>
  <div class="whyDataFakeHR"></div>
  <div class="whyDataHeaders whyDataColor1">
    <h2>Fan Zip Codes</h2>
  </div>
  <!-- end whyDataNamesShell -->
  <div class="whyDataContent whyDataColor2">
    <p class="whyDataContentP whyDataContentPFloat1">Knowing where your biggest fans live is huge for planning out your next tour. Reward them by playing in their city, and make sure they know your coming!</p>
    <img class="whyDataContentImg3" src="images/whyDataIcon3.png" /> </div>
  <!-- end whyDataContent -->
  <div class="whyDataFooters whyDataColor1"></div>
</div>
<!-- end whyDataChartShell -->
  </div><!-- end whyData -->
  <!-- end iTunesVsSosa -->
  <div id="noCreateSsYetThanks" class="noCreateSsYetThanks">
  	<h1>Thanks for checkin’ us out!</h1>
    <h2>We are currently making some updates to the software<br />Enter your email below, and we will let you know as soon as its ready!</h2>
    <input class="createSsNotReadyEmailInput" value="Email" />
    <p class="createSsNotReadyEmailSubmit">Submit</p>
  </div> <!-- end noCreateSsYetThanks --> 
  <div id="noCreateSsYetThanksSubmittedBox" class="noCreateSsYetThanksSubmittedBox">
  	<h1>Email Submitted</h1>
    <img src="images/checkMarkGreen.png" />
  </div><!-- end noCreateSsYetThanksSubmittedBox -->
</div>
<!-- end hiddenShell -->
<a href="#noCreateSsYetThanksSubmittedBox" id="openNoCreateSsYetThanksSubmittedBox" class="openNoCreateSsYetThanksSubmittedBox"></a>
<script>
$(document).ready(function() {
	$('.footer').css('display','none');
	$('body').css('background','none');
	$('body').css('background-color','none');
	$('.indexIntroLogin').click(function(){
		$('#signInForm').attr('action','login&action=bandadminsales');
		$('#registerForm').attr('action','register&action=bandadminsales');	
	});
	$('#openGeneralTermsAndCond').fancybox();
	$('#openTTunesVsSosa').fancybox();
	$('#openWhyData').fancybox();
	$('#openiTunesVsSosa2').fancybox();
	$('#openNoCreateSsYetThanks').fancybox();
	$('#openNoCreateSsYetThanksSubmittedBox').fancybox();
	$.backstretch("images/rockOnBG.jpg", {speed: 100, centeredY: false});
	$('.createSsNotReadyEmailInput').focus(function(){
		if($(this).val()=='Email'){
			$(this).val('');
		};
	});
	$('.createSsNotReadyEmailInput').blur(function(){
		if($(this).val()==''){
			$(this).val('Email');
		};
	});
	
});
</script> 