<div class="hiddenShell">
  <div id="newLoginBox">
    <div class="loggsShell">
      <div class="loggsSlidingFrame">
        <div class="loggsSignInShell">
        <h1>Login</h1><h2 class="orSignUpBtn">or <span>Sign up</span></h2>
          <form id="signInForm" method="post" name="loginForm">
            <!-- action is set in the local script -->
            <div class="signinEmailShell">
              <input type="text" class="signinEmailInput loginEmail" value="Email" name="email" />
			</div>
            <div class="signinPassShell">
              <input type="password" class="signinPassInput loginPassInput" name="password" />
              <p class="loginPassBacks loginPassBackboard">Password</p>
            </div>
            <input type="submit" value="Login" class="signinSubmit" />
            <ul class="loginErrorBox loginLoginErrorBox"></ul>
          </form>
          <div class="poweredByZillsShell">
          	<p>Sales powered by</p><img src="images/zillionearsLogoSmall1.png">
          </div><!-- end poweredByZillsShell -->
        </div>
        <!-- end loggsSignInShell -->
        <div class="loggsRegisterShell">
        <h1>Register</h1><h2 class="orLoginBtn">or <span>Login</span></h2>
          <form id="registerForm" method="post"><!-- action is set in script above -->
          	<div class="registerRow">
            	<div class="registerRowLeft">
                	<input type="text" class="registerEmail" name="email" value="Email" tabindex="1" />
                </div><!-- end registerRow1Left -->
                <div class="registerRowRight">
                	<input type="text" class="registerFirstName inputCapFirstLetter" value="First Name" name="firstName" tabindex="3" />
                </div><!-- end registerRow1Right -->
            </div><!-- end registerRow1 -->
            <div class="registerRow">
            	<div class="registerRowLeft">
                	<input type="password" class="loginPass registerPassInput" name="password" tabindex="2" />
                    <p class="loginPassBacks registerPassBackboard">Password</p>
                </div><!-- end registerRow1Left -->
                <div class="registerRowRight">
                	<input type="text" class="registerLastName inputCapFirstLetter" value="Last Name" name="lastName" tabindex="4" />
                </div><!-- end registerRow1Right -->
            </div><!-- end registerRow1 -->       
            <input type="submit" value="Register" class="registerSubmit" />
            <ul class="loginErrorBox loginRegErrorBox"></ul>
          </form>
          <div class="poweredByZillsShell">
          	<p>Sales powered by</p><img src="images/zillionearsLogoSmall1.png">
          </div><!-- end poweredByZillsShell -->
        </div>
        <!-- end loggsRegisterShell --> 
      </div>
      <!-- end loggsSlidingFrame --> 
    </div>
    <!-- end loggsShell --> 
  </div>
  <!-- end loggsBox --> 
</div> 
<!-- end hiddenShell -->