<div class="subHeader">
  <div class="wrapper1">
    <p class="secHeadTitle">Pricing / FAQ</p>
  </div>
  <!-- end wrapper1 -->
</div>
<!-- end subHeader -->

<div class="contentContainer">
  <div class="wrapper1">
    <div class="contentArea">
      <div class="content">
        <div class="pricingBoldShell">
          <div class="pricingBoldLShellL">
            <p class="pricingP1">Social Sales</p>
            <hr class="pricingHr1" />
            <p class="pricingP2">$18.99</p>
            <p class="pricingP3">Per Sale</p>
            <hr class="pricingHr1" />
            <p class="pricingP3">Transactions fees:<br />
              3% Sales + .30 per transaction</p>

            <p class="pricingCreatBtn"><a href="createss">Create Sale Now!</a></p>
             </div>
          <!-- end pricingBoldShellL -->
          <div class="pricingBoldRShellR">
            <p class="pricingP1">Features Include</p>
            <hr class="pricingHr2" />
            <p class="pricingP3"> - Email list of buyers provided<br />
              - Easy to use order fullfillment interface<br />
              - Automated digital order fullfillment<br />
              - Dope ass splash page<br />
              - Easy blast to all your fans<br />
              - Soem other chill stufff<br />
              - And the some other stuff i cant think of right now<br />
              - what else am i missing </p>
            <hr class="pricingHr2" />
            <p class="pricingP4">Start your sale today in 3 easy steps!</p>
          </div>
          <!-- end pricingBoldRShellR -->
        </div>
        <!-- end pricingBoldShell -->
        <p class="pricingQ">Why is Zillionears so cool?</p>
        <p class="pricingA">Retro direct trade pinterest salvia bicycle rights. Messenger bag pitchfork salvia, american apparel carles post-ironic letterpress ethical wes anderson scenester. Chillwave williamsburg yr selvage occupy, single-origin coffee thundercats ethical banksy dreamcatcher be</p>
        <p class="pricingQ">Why is Zillionears so cool?</p>
        <p class="pricingA">Chillwave trust fund butcher cray, authentic mlkshk bicycle rights sartorial bushwick. Flexitarian blog fap, sartorial</p>
        <p class="pricingQ">Why is Zillionears so cool?</p>
        <p class="pricingA">That is an easy answer but i do not want to give you one at this time maybe later</p>
        <p class="pricingQ">Why is Zillionears so cool?</p>
        <p class="pricingA">That is an easy answer but i do not want to give you one at this time maybe later</p>
        <p class="pricingQ">Why is Zillionears so cool?</p>
        <p class="pricingA">That is an easy answer but i do not want to give you one at this time maybe later</p>
        <p class="pricingQ">Why is Zillionears so cool?</p>
        <p class="pricingA">That is an easy answer but i do not want to give you one at this time maybe later</p>
        </p>
      </div>
      <!-- end content -->
    </div>
    <!-- end contentArea -->
  </div>
  <!-- end wrapper1 -->
</div>
<!-- end contentContainer -->
