<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SoSa Zills Admin</title>
<link rel="stylesheet" type="text/css" href="css/styleCreateSs.css" />
<link href="js/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/fancybox/jquery.fancybox-1.3.4.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.pack.js"></script>
<script type="text/javascript" src="js/bandAdmin_Script.js"></script>
</head>

<body>
<div id="header">
<div class="wrapper1">
<img class="logoInHeader" src="images/logoInHeader.png" />
</div> <!-- end wrapper1 -->
</div> <!-- end header -->
<div class="subHeader">
<div class="wrapper1">
<div class="adminNav">
<p><a href="zillsAdminTotals.html">Totals</a> &nbsp; | &nbsp;<a href="zillsAdminSocialSales.html">Social Sales</a> &nbsp; | &nbsp;<a href="zillsAdminAccounts.html">Accounts</a> &nbsp; | &nbsp; <a href="zillsAdminBilling.html">Billing</a></p>
</div> <!-- end adminNav -->
</div> <!-- end wrapper1 -->
</div> <!-- end subHeader -->
<div class="contentContainer">
<div class="wrapper1">
<div class="contentArea">
<div class="content">
<p class="zillsAdminHeaders">Social Sales</p>
<table class="zillsAdminSingleSoSaTable1">
	<tr>
    	<td class="zillsAdminSingleSoSaTableLeft">Total All</td>
        <td class="zillsAdminSingleSoSaTableLeft">Total Active</td>
        <td class="zillsAdminSingleSoSaTableLeft">Total Expired</td>
    </tr>
    <tr>
    	<td class="zillsAdminSingleSoSaTableRight">987</td>
        <td class="zillsAdminSingleSoSaTableRight">334</td>
        <td class="zillsAdminSingleSoSaTableRight">6533</td>
    </tr>
</table>
<table class="zillsAdminSingleSoSaTable4">
	<tr class="zillsAdminTableRowCentered">
    	<td class="zillsAdminSingleSoSaTableLeft zillsAdminTableNavSelected"><a href="javascript:">All</a></td>
        <td class="zillsAdminSingleSoSaTableLeft"><a href="javascript:">Active</a></td>
        <td class="zillsAdminSingleSoSaTableLeft"><a href="javascript:">Expired</a></td>
    </tr>
</table>
<table class="zillsAdminSingleSoSaTable4">
	<tr>
    	<td class="zillsAdminSingleSoSaTableLeft">SoSa ID</td>
        <td class="zillsAdminSingleSoSaTableLeft">SoSa Name</td>
        <td class="zillsAdminSingleSoSaTableLeft">Band Name</td>
        <td class="zillsAdminSingleSoSaTableLeft"># Of Fans</td>
        <td class="zillsAdminSingleSoSaTableLeft">Start $</td>
        <td class="zillsAdminSingleSoSaTableLeft">Lowest $</td>
        <td class="zillsAdminSingleSoSaTableLeft">Current $</td>
        <td class="zillsAdminSingleSoSaTableLeft">Status</td>
    </tr>
    <tr>
    	<td class="zillsAdminSingleSoSaTableRight"><a href="zillsAdminSingleSocialSale.html">223019</a></td>
        <td class="zillsAdminSingleSoSaTableRight">Keep Control EP</td>
        <td class="zillsAdminSingleSoSaTableRight">Goodnight Sunrise</td>
        <td class="zillsAdminSingleSoSaTableRight">302</td>
        <td class="zillsAdminSingleSoSaTableRight">$4.99</td>
        <td class="zillsAdminSingleSoSaTableRight">$0.99</td>
        <td class="zillsAdminSingleSoSaTableRight">$2.02</td>
        <td class="zillsAdminSingleSoSaTableRight">Active</td>
    </tr>
</table>
</div> <!-- end content -->
</div> <!-- end contentArea -->
<div id="footer">
<p class="footerL">Zillionears LLC 2012 : Authorize.net : Terms of Services</p>
<p class="footerR">About : Contact : FAQ</p>
</div> <!-- end footer -->
</div> <!-- end wrapper1 -->
</div> <!-- end contentContainer -->
<div class="hiddenElement">
<!-------------------------------------------------------------------------------- Send a check --------->
<div id="sendCheckBox">
<p class="sendCheckText">If you prefer not to use paypal we can send you an e-check to your email. There is an <span>additional fee of $3</span> to send an e-check. Select the check box below to recieve payment with an e-check:</p>
<input type="checkbox" class="sendCheckSelected" />
<p class="sendCheckSelectorText">Send me an E-check for a $3 fee</p>
</div> <!-- end sendCheckBox -->

</div> <!-- end hiddenElement --->
</body>